[Unit]
Description=Simple MCP Server
After=network.target

[Service]
User=mcp
Group=mcp

# Run the fully qualified binary pointing the config file in the standard location
ExecStart=/usr/bin/simple-mcp --config /etc/simple-mcp/simple-mcp.yaml

# --- Give access only to necessary parts of the file system
ProtectSystem=strict
ReadWritePaths=/var/log /var/cache/zypp /tmp /run /etc/zypp /var/lib/zypp /var/lib/rpm

# --- Block access to the home dir
ProtectHome=yes

# Put temporary files in a private location
PrivateTmp=yes

# zypper list-updates needs to run as root, so don't block that
NoNewPrivileges=false

# allow networking so zypper can work
PrivateNetwork=no

# only allow inbound connections for tcp and only on port 8080
SocketBindAllow=tcp:8080
SocketBindDeny=any

# stop any outbound access to anywhere in the LAN
IPAddressDeny=192.168.0.0/16
IPAddressDeny=172.16.0.0/12
IPAddressDeny=10.0.0.0/8
IPAddressDeny=fe80::/64

[Install]
WantedBy=multi-user.target